# WICHTIG: Diese Option ist bei Manitu oft Pflicht für Rewrite-Regeln
Options +FollowSymLinks

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Regel: Wenn jemand /admin/irgendwas aufruft...
  RewriteCond %{REQUEST_URI} ^/admin/
  # ...und es keine echte Datei ist (wie ein Bild)...
  RewriteCond %{REQUEST_FILENAME} !-f
  # ...dann lade die Admin-Startseite (React App)
  RewriteRule ^.*$ /admin/index.html [L]

</IfModule>