- name: FTP Deploy to Manitu
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: ./dist/
        server-dir: /web/new.stadtburschen.de/
        protocol: ftp              # HIER: ftp statt ftps
        port: 21                   # HIER: Port explizit setzen
        exclude: |
          **/.git*
          **/.github*
          **/node_modules/**