name: Deploy to Manitu

on:
  push:
    branches: [ master ]
  # DAS IST NEU: Erlaubt den Start von außen
  repository_dispatch:
    types: [sanity-update]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        
    - name: Install Dependencies
      run: npm install
      
    - name: Build Project
      run: npm run build
      
    - name: SFTP Deploy to Manitu
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: ./dist/
        server-dir: /web/new.stadtburschen.de/
        
        # WICHTIG: SFTP aktivieren
        protocol: sftp
        port: 23
        
        # Das hier verhindert, dass er bei unbekannten Schlüsseln abbricht
        security: loose
        
        exclude: |
          **/.git*
          **/.github*
          **/node_modules/**